# РўРѕРєРµРЅ Р±РѕС‚Р° РѕС‚ @BotFather
BOT_TOKEN=8386902315:AAGSj3gzuEYMO0sDimt2tfLG9zQ6C70tlsc

# URL РІР°С€РµРіРѕ Web App (РіРґРµ СЂР°Р·РјРµС‰РµРЅ index.html)
WEB_APP_URL=https://github.com/vasekpetruxa-collab/my-telegram-app.git

# ID Р°РґРјРёРЅРёСЃС‚СЂР°С‚РѕСЂРѕРІ (С‡РµСЂРµР· Р·Р°РїСЏС‚СѓСЋ, Р±РµР· РїСЂРѕР±РµР»РѕРІ)
# Р§С‚РѕР±С‹ СѓР·РЅР°С‚СЊ СЃРІРѕР№ ID, РЅР°РїРёС€РёС‚Рµ Р±РѕС‚Сѓ @userinfobot
ADMIN_IDS=540298072
